@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');



body {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}


.App {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 20px;
    max-width: 80%;
    width: 800px;
    margin: 0 auto;
    animation: fadeIn 1s ease-in;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;

}

h1 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 20px;
    color: #ffffff;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 96, 0, 0.7), 0 0 10px rgba(255, 96, 0, 0.7), 0 0 15px rgba(255, 96, 0, 0.7);
    }

    50% {
        text-shadow: 0 0 10px rgba(255, 96, 0, 0.9), 0 0 20px rgba(255, 96, 0, 0.9), 0 0 30px rgba(255, 96, 0, 0.9);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 96, 0, 0.7), 0 0 10px rgba(255, 96, 0, 0.7), 0 0 15px rgba(255, 96, 0, 0.7);
    }
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
    animation: glow 2s infinite;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    height: 100px;
    background-color: #ff6000;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: cardEntrance 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.card.flipped {
    background-color: #fff;
    color: #de5221;
}

.card.disabled {
    pointer-events: none;
    background-color: #ccc;
}

button {
    margin-top: 2%;
    background-color: #eb992c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 4%;
    font-size: 1.2rem;
    margin-right: 2%;
    cursor: pointer;
    width: 112px;
    transition: background-color 0.3s ease;
    animation: glow2 2s infinite;
}
@keyframes glow2 {
    0% {
        box-shadow: 0 0 5px rgba(235, 153, 44, 0.4), 0 0 10px rgba(235, 153, 44, 0.4), 0 0 5px rgba(235, 153, 44, 0.4);
    }
    50% {
        box-shadow: 0 0 10px rgba(235, 153, 44, 0.6), 0 0 15px rgba(235, 153, 44, 0.6), 0 0 10px rgba(235, 153, 44, 0.6);
    }
    100% {
        box-shadow: 0 0 5px rgba(235, 153, 44, 0.4), 0 0 10px rgba(235, 153, 44, 0.4), 0 0 5px rgba(235, 153, 44, 0.4);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.button-container button {
    background-color: #eb992c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 0 10px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}
.button-container button:hover {
    background-color: #e9a44a;

}



button:hover {
    background-color: #e9a44a;
}


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #de5221;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    margin: 20% auto;
    padding: 20px;
    max-width: 400px;
    width: 80%;
    animation: fadeIn 0.5s ease-in-out;
    position: relative;
}


.modal-content.adjusted-margin-left {
    margin-left: 20px;
}
.close {
    color: #FF6B6B;
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}
.close:hover {
    color: #FF5252;
}
.modal-content h2 {
    color: #FF6B6B;
}
.modal-content p {
    color: #de5221;   
}

.modal-content button {
    background-color: #FF6B6B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #FF5252;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 80%;
    text-align: left;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content h2 {
    color: #FF6B6B;
    text-align: center;
}

.modal-content p {
    color: #000000;
    text-align: left;
}

.modal-content strong {
    color: #de5221;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content li {
    margin-bottom: 10px;
    color: #000000;
}

.modal-content li strong {
    color: #de5221;
}

@media (max-width:480px) {
    .video-background {
        position: absolute;
        top: -168px;
        left: 0;
        width: 100%;
        height: 156%;
        object-fit: cover;
        z-index: -1;
        transform: rotate(180deg);
    }

    .App {
        margin-top: 14%;
        margin-left: -.6%;
        max-width: 96%;
        width: auto;
        height: 64vh;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
  
    .level-buttons {
            width: 373px;
            margin-left: 1%;
        }
       

    button {
        background-color: #eb992c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 7%;
    font-size: 1rem;
    margin-right: -1%;
    margin-top: 0%;
    cursor: pointer;
    width: 89px;
    transition: background-color 0.3s ease;
    }

    .scoreboard {
        margin-top: 3%;
        margin-left: 3%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        width: 320px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.9);
        animation: glow 2s infinite;
    }

    .card-container {
        margin-left: 8.2%;
        grid-template-columns: repeat(4, 1fr);
        width: 330px;
    }

    .card {
        height: 70px;
        font-size: 0.8rem;
    }

    .card {
        height: 70px;
        font-size: 0.8rem;
    }

    .button-container button {
        width: 150px;
        padding: 8px 16px;
        font-size: 1rem;
        margin-top: 6%;
    }
    .modal-content {
        max-width: 91.8%;
        padding: 16px;
        margin-left: -27%;
        margin-top: -3%;
    }

    @keyframes glow {
        0% {
            text-shadow: 0 0 5px rgba(255, 96, 0, 0.7), 0 0 10px rgba(255, 96, 0, 0.7), 0 0 15px rgba(255, 96, 0, 0.7);
        }

        50% {
            text-shadow: 0 0 10px rgba(255, 96, 0, 0.9), 0 0 20px rgba(255, 96, 0, 0.9), 0 0 30px rgba(255, 96, 0, 0.9);
        }

        100% {
            text-shadow: 0 0 5px rgba(255, 96, 0, 0.7), 0 0 10px rgba(255, 96, 0, 0.7), 0 0 15px rgba(255, 96, 0, 0.7);
        }
    }

    h1 {
        margin-bottom: 5%;
        font-size: 1.5rem;
        margin-top: -10%;
        animation: glow 2s infinite;
    }


    .scoreboard {
    margin-left: 11%;
    font-size: 1.2rem;
    }
}
